@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.aircraft {
    width: 24px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#stats {
    position: absolute;
    bottom: 0;
    left: 1em;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 0.8;
    /* padding: .4em; */
    font-family: 'Michroma', sans-serif;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 15px;
}

/* .leaflet-control-container { position: absolute; top: 6em } */

/* .bar {
    position: absolute;
    top: 0;
    left: 1.5em;
    width: 100%;
    height: 85px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 9999;
}
*/
.leaflet-control-zoom .leaflet-bar .leaflet-control  {
    margin-top: 3em;
} 

.nav_item {
    position: relative;
    z-index: 9999;
    
}

.navbar {
    /* position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999; */
    width: 95%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
}

.logo {
    /* width: 150px; */
    margin-left: 1em;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    z-index: 9999;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: blue;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}