@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* Leaflet map styles start here */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
    /* Leaflet zoom control styles */
/* .leaflet-control-container { 
    position: absolute; 
    bottom: 11em; 
    left: .5em;
} */
/* Leaflet map styles end here */

/* Page loader styles while fetching API data start here */
.loader {
    border: 16px solid lightgray;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite;  
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 9999;
}
  
  /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Page loader styles while fetching API data end here */

/* Navbar styles start here */
.nav_item {
    position: relative;
    z-index: 9999;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
}

.logo {
    margin-left: 1em;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    z-index: 9999;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: blue;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
/* Navbar styles end here */

/* Display to show total flights reported start here */
#stats {
    position: absolute;
    bottom: 0;
    left: 1em;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 0.9;
    /* padding: .4em; */
    font-family: 'Michroma', sans-serif;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 15px;
}
/* Display to show total flights reported end here */

/* Refresh button styles start here */
#latest {
    opacity: 0;
}

#refresh {
    position: absolute;
    bottom: .3em;
    right: 1em;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 0.9;
    font-family: 'Michroma', sans-serif;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 15px;
    cursor: pointer;
}
/* Refresh button styles end here */

/* responsive styles start here */
@media (max-width: 768px) {
    .logo {
        width: 125px;
    }
    .navbar ul {
        margin-right: 10px;
    }
    .navbar ul li {
        margin: 0 5px;
        font-size: .7em;
    }
}
/* responsive styles end here */