@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* global styles start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global styles end here */

/* Navbar styles start here */
.nav_item {
    position: relative;
    z-index: 9999;
}

.navbar {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25em;
    margin-bottom: 2em;
}

.logo {
    margin-left: 1em;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    z-index: 9999;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: blue;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
/* Navbar styles end here */

/* Background images for each page start here */
#flights {
    background-image: url(ac-bg2.jpg);
}

#airports {
    background-image: url(ap-bg2.jpg);
}

#about {
    background-image: url(about-bg.jpg);
}
/* Background images for each page end here */

/* Flights page styles start here */
.container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /* flght input search styles start here */
  .search-box-flights,
  .search-box-airports {
    position: relative;
    display: flex;
    justify-content: center;
}

.search-box-flights input,
.search-box-airports input {
    position: relative;
    width: 88.5%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
    opacity: 0.8;
    font-family: 'Michroma', sans-serif;
    padding-left: 7px;
    padding-bottom: 2px;
}

.search-box-flights button,
  .search-box-airports button {
      width: 3%;
      background-color: #000000;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-bottom: 2px;
      cursor: pointer;
  }

.fa {
    font-size: 1.2em;
    filter: invert(1);
}
  /* flight input search styles end here */

  /* flight title result styles start here */
.flight-result {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.flight-result h3 {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
}

#airline-pad {
    margin-right: 2em;
}

.main-text, .airport-text {
    color: #ffffff;
}
  /* flight title result styles end here */

  /* flights search result container styles start here */
.search-flights-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 91%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 2em;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.departure, .arrival {
    font-family: 'Michroma', sans-serif;
    
    width: 100%;
    padding-left: .9em;
}

.departure h4, .arrival h4 {
    text-transform: uppercase;
    margin-bottom: .5em;
    margin-top: .5em;
}

hr {
    width: 97.5%;
}

.departure p, .arrival p {
    margin-bottom: .75em;
}

.airport-name {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
  /* flights search result container styles start here */

  /* bottom logo styles start here */
.lower-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    opacity: 0.5;
}

.lower-img img {
    width: 250px;
}

.inv {
    filter: invert(1);
    margin-top: .8em;
}
  /* bottom logo styles end here */
/* Flights page styles end here */

/* airports page styles start here*/
.search-airports-wrapper {
    position: relative;
    display: flex;
    width: 91.5%;
    height: 55vh;
    margin: 0 auto;
    margin-top: 2em;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.search-airports-wrapper h5 {
    padding-left: 7px;
}

.airport-name {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

h5{
    padding-top: .3em;
    margin-left: .3em;
}

.ap-pad {
    padding-right: 3.5em;
    padding-left: 7px;
}

hr {
    margin-top: .3em;
    margin-bottom: .3em;
}
/* airports page styles end here*/

/* about page styles start here*/
.container .help-info {
    position: relative;
    display: block;
    width: 91.5%;
    height: auto;
    margin: 0 auto;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.help-info h3, .help-info h4 {
    padding-top: .7em;
    padding-left: .5em;
}

.help-info p {
    padding-left: .5em;
}

#about-img {
    position: relative;
    display: flex;
    justify-content: center;
}
/* about page styles end here*/

/* customized scrollbar styles start here */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* customized scrollbar styles end here */

/* responsive styles start here */
@media (max-width: 768px) {
    .logo {
        width: 125px;
    }
    .navbar ul {
        margin-right: 10px;
    }
    .navbar ul li {
        margin: 0 5px;
        font-size: .7em;
    }
}
/* responsive styles end here */