@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* global styles start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global styles end here */

/* Navbar styles start here */
.nav_item {
    position: relative;
    z-index: 9999;
}

.navbar {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25em;
    margin-bottom: 1.5em;
}

.logo {
    margin-left: 1em;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    z-index: 9999;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: blue;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
/* Navbar styles end here */

/* Background images for each page start here */
#flights {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(ac-bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#airports {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(ap-bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#flights h1,
#airports h1,
#about h1 {
    font-family: 'Michroma', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 200;
}

#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(about-bg.jpg);
    background-position: center .05em;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Background images for each page end here */

/* Flights page styles start here */
  /* flght input search styles start here */
  .search-box-flights,
  .search-box-airports {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.search-box-flights input,
.search-box-airports input {
    position: relative;
    display: flex;
    width: 30%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
    opacity: 0.8;
    font-family: 'Michroma', sans-serif;
    padding-left: 7px;
    padding-bottom: 2px;
    margin-bottom: .5em;
}

.search-box-flights button,
.search-box-airports button {
      width: 3%;
      height: 30px;
      background-color: #000000;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-bottom: 2px;
      cursor: pointer;
}

.pl-icon {
    width: 12px;
    margin-right: .3em;
}

.fa {
    font-size: 1.2em;
    filter: invert(1);
}
  /* flight input search styles end here */

  /* flight title result styles start here */
.flight-result {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.flight-result h3 {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
}

#airline-pad {
    margin-right: 2em;
}
  /* flight title result styles end here */

  /* flights search result container styles start here */
.search-flights-wrapper {
    position: relative;
    display: flex;
    width: 55%;
    height: 35vh;
    margin: 0 auto;
    margin-top: 2em;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}

.departure, .arrival {
    font-family: 'Michroma', sans-serif;
    width: 100%;
    padding-left: .9em;
}

.departure h4, .arrival h4 {
    text-transform: uppercase;
    margin-bottom: .5em;
    margin-top: .5em;
}

hr {
    width: 97.5%;
}

.flights-departure p, .flights-arrival p {
    margin-bottom: .75em;
    font-size: .7em;
}

.airport-name {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
  /* flights search result container styles start here */

  /* bottom logo styles start here */
.lower-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.lower-img img {
    width: 175px;
}
  /* bottom logo styles end here */
/* Flights page styles end here */

/* airports page styles start here*/
.search-airports-wrapper {
    position: relative;
    display: flex;
    width: 60%;
    height: 35vh;
    margin: 0 auto;
    margin-top: 2em;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}

.airport-name {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.flights-departure, .flights-arrival,
.airport-departures, .airport-arrivals,
.information {
    width: 100%;
    padding-top: .5em;
    padding-left: .9em;
}

.group-title, .group-info {
    position: relative;
    display: flex;
}

.group-title h5 {
    margin-right: 2em;
}

.flights-departure p, .flights-arrival p,
.airport-departures p, .airport-arrivals p {
    position: relative;
    font-size: .9em;
    margin-right: 2em;
    margin-bottom: .7em;
}

.flights-departure p, .flights-arrival p {
    margin-bottom: .7em;
}

.ap-pad {
    font-size: .9em;
}

hr {
    margin-top: .5em;
    margin-bottom: .5em;
}
/* airports page styles end here*/

/* about page styles start here*/
.about-subtitle {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1.9em;
}

.about-subtitle h2 {
    font-family: 'Michroma', sans-serif;
}

.information-wrapper {
    position: relative;
    display: block;
    width: 60%;
    height: 79vh;
    margin: 0 auto;
    margin-top: 2em;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Michroma', sans-serif;
    border: 1px solid #000000;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}

.information {
    padding-bottom: 1.1em;
    padding-right: 1em;
}

.information h3, .information h4 {
    padding-top: .7em;
    padding-left: .5em;
}

.information p {
    padding-left: .5em;
}

#about-img {
    position: relative;
    display: flex;
    justify-content: center;
}
/* about page styles end here*/

/* customized scrollbar styles start here */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* customized scrollbar styles end here */

/* responsive styles start here */
@media (max-width: 991px) {
    /* menu toggle styles start here */
    .navbar nav ul {
        display: none;
    }
    .toggle {
        position: fixed;
        right: 45px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active {
        position: fixed;
        right: 45px;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .navbar nav ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #ffffff;
        z-index: 10;
    }
    .navbar nav ul.navigation.active li {
        padding: 20px;
        font-size: 1.5em;
    }
    /* menu toggle styles end here */
}

@media (max-width: 768px) {
    .logo {
        width: 125px;
    }
    .navbar ul {
        margin-right: 10px;
    }
    .navbar ul li {
        margin: 0 5px;
        font-size: .7em;
    }
}
/* responsive styles end here */